@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  background: url(./assets/universe.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
}
.head p {
  color: #999;
}
.header-text {
  font-family: 'Monoton', cursive;
  font-size: clamp(14px, 7vw, 2rem);
}

/* Body */
.body {
  margin-right: clamp(5px, 7vw, 20%);
  margin-left: clamp(5px, 7vw, 20%);
  margin-top: 30px;
  scale: 0.8;
}
.flex {
  display: flex;
  gap: 20px;
}
.image-item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 10px auto;
  padding-right: 20px;
  position: relative;
}
.image-item img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-height: 250px;
  width: 250px;
}
.explanation {
  margin-bottom: 60px;
}
.heart {
  cursor: pointer;
  display: inline-flex;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: clamp(5px, 7vw, 20%);
  margin-left: clamp(5px, 7vw, 20%);
}

@media only screen and (max-width: 700px) {
  .body {
    margin-right: 10px;
    margin-left: 10px;
  }
  .head {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flex {
    flex-direction: column;
  }
  .image-item {
    padding-right: 0;
  }
  .image-item img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    width: 100%;
  }
  .title,
  .explanation,
  .heart {
    padding: 0 10px;
  }
}
